@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

:root {
    --calculator-bgcolor: hsl(219, 54%, 92%);   /*OLD: hsl(219, 54%, 90%)*/
    --dark-font: hsl(0, 0%, 12%);
}

.app-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--calculator-bgcolor);
}

.app-mobile, .app-desktop {
    width: 100%;
    height: 100%;
    display: flex;
}

@media only screen and (min-width: 0px) {  /* MOBILE */
    .app-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app-desktop {
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (min-width: 900px) {  /* DESKTOP */
    .app-mobile {
        display: none;
    }
    .app-desktop {
        display: flex;
    }
        nav {
            width: 270px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: -270px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-image: linear-gradient(to right, rgb(47, 93, 177) 20%, rgb(70, 116, 200) 80%);
            z-index: 2;
        }
            .dsk-menu-button-box {
                width: 60px;
                height: 60px;
                position: absolute;
                top: 30px;
                right: -60px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgb(70, 116, 200);
                border-radius: 0px 12px 12px 0px;
                border: 0px solid red;  /*TEST*/
            }
            .dsk-menu-button-box::before {
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                top: -30px;
                left: 0px;
                background-color: transparent;
                border-radius: 0px 0px 0px 12px;
                box-shadow: -6px 6px 0px 0px rgb(70, 116, 200);
            }
            .dsk-menu-button-box::after {
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: -30px;
                left: 0px;
                background-color: transparent;
                border-radius: 12px 0px 0px 0px;
                box-shadow: -6px -6px 0px 0px hsl(219, 54%, 53%);
            }
                .dsk-menu-arrow {
                    width: 35px;
                    height: 35px;
                    color: white;
                    transform: rotateZ(180deg);
                }
                .dsk-menu-arrow:hover {
                    cursor: pointer;
                    background-color: hsl(219, 54%, 59%);
                }
                .dsk-menu-arrow:active {
                    background-color: hsl(219, 54%, 66%);
                }
            .title-box {
                width: auto;
                height: 120px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 0px solid greenyellow;  /*TEST*/
            }
                .title-prp {
                    width: auto;
                    height: auto;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: inherit;
                    color: white;
                    font-family: 'Outfit', sans-serif;
                    font-size: 45px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    border: 0px solid red;  /*TEST*/
                }
                    .t-value {
                        padding: 10px 30px 0px;
                    }
                    .t-value::selection {
                        background-color: transparent;
                    }
                    .t-value:hover {
                        cursor: default;
                    }
            .nav-button-box {
                width: 100%;
                height: 400px;  /*auto - ZRÓB!*/
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                border: 0px solid red;  /*TEST*/
            }
                .nav-button-box div {
                    width: 100%;
                    height: 45%;
                    position: relative;
                    top: -12px;
                    left: 0px;
                    padding: 10px 30px 10px 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: inherit;
                    color: white;
                    /*font-family: 'Roboto', sans-serif;*/
                    font-family: 'Outfit', sans-serif;
                    font-size: 130%;
                    font-weight: 400;
                }
                .nav-button-box div:hover {
                    cursor: pointer;
                    background-color: hsl(219, 54%, 59%);
                }
                .nav-button-box div:active {
                    background-color: hsl(219, 54%, 66%);
                }
                .nav-button-box div::selection {
                    background-color: transparent;
                    color: white;
                }
        :root {
            --quest-box-width: 450px;
        }
        .calc-space {
            /*width: TS;*/  /*NIE PRAKTYCZNE*/
            width: calc(100% - var(--quest-box-width));
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: var(--calculator-bgcolor);
            border: 0px solid crimson;  /*TEST*/
        }
            .calc-box {
                width: 100%;
                height: 100%;
                padding: 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                border: 0px solid red;  /*TEST*/
            }
                :root {
                    --cb-title-height: 60px;
                    --cb-days-title-group: 65px;
                    --cb-header-height: var(--cb-title-height);
                    --border-top-left: 12px;
                    --border-top-right: 12px;
                    --border-bottom-left: 12px;
                    --border-bottom-right: 12px;
                    --calendar-border-color-1: #cccccc;
                    --calendar-border-color-2: #aaaaaa;
                }
                .cb-header {
                    width: 100%;
                    height: var(--cb-title-height);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    border: 0px solid green;  /*TEST*/
                }
                    .cb-title {
                        width: 100%;
                        height: var(--cb-title-height);
                        position: relative;
                        left: auto;
                        top: -11px;  /*OLD: -10px*/
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        color: var(--dark-font);  /*OLD hsl(219, 54%, 50%)*/
                        font-family: 'Outfit', sans-serif;
                        font-size: 45px;  /*OLD: 45px*/
                        font-weight: 600;
                        border: 0px solid green;  /*TEST*/
                    }
                    .cb-title::selection {
                        background-color: transparent;
                        color: var(--dark-font);
                    }
                    .cb-title:hover {
                        cursor: default;
                    }
        .calcType-box {
            width: var(--quest-box-width);
            height: 100%;
            position: relative;
            background-image: linear-gradient(to right, rgb(70, 116, 200) 20%, rgb(47, 93, 177) 80%);
        }
            /*.ctb-title {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: white;
                font-family: 'Outfit', sans-serif;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            .ctb-title::selection {
                background-color: transparent;
                color: white;
            }
            .ctb-title:hover {
                cursor: default;
            }*/
}
